<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="format-detection" content="telephone=no">
		<meta name="author" content="Antonín Zelený">
		<title>DominicanR</title>
		<link rel="stylesheet" href="{$basePath}/css/admin/{$css}.css?v={$currVer}">
		<script src="{$basePath}/js/{if isset($js)}{$js}{else}master{/if}.js?v={$currVer}" defer></script>
		<meta name="theme-color" content="#15D6A2">
	</head>
	<body>
		{control navbar}
		{block content}{/block}
	</body>
</html>
