parameters:


application:
	errorPresenter: Error:Error
	mapping:
	    Admin: App\Admin\UI\*\**Presenter
	    Front: App\Front\UI\*\**Presenter
	    Error: App\Error\*Presenter


database:
    dsn: 'mysql:host=localhost:3306;dbname=dr_web'
    user: 'root'
    password: ''


latte:
	strictTypes: yes
	strictParsing: yes



di:
	export:
		parameters: no
		tags: no

extensions:
    fileUploadControl: Nepada\Bridges\FileUploadControlDI\FileUploadControlExtension

fileUploadControl:
    uploadDirectory: %appDir%/../www/tmp
    registerExtensionMethod: true
    templateFile: %appDir%/Admin/Forms/bootstrap4.latte


